blinker==1.9.0
brotlicffi 
certifi 
cffi 
charset-normalizer 
click==8.4.1
colorama==0.4.6
Flask==3.1.3
h3==4.5.0
idna 
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
numpy==2.2.6
packaging==26.0
pycparser 
PyMySQL==1.2.0
pyshp==3.0.12
PySocks 
requests 
scikit-learn==1.7.2
scipy==1.15.3
threadpoolctl==3.6.0
urllib3 
Werkzeug==3.1.8
win_inet_pton 
